<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>Tcaron</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>Yacute</key>
      <integer>-30</integer>
      <key>Ydieresis</key>
      <integer>-30</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>uni0162</key>
      <integer>-60</integer>
    </dict>
    <key>Agrave</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>Tcaron</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-30</integer>
      <key>Yacute</key>
      <integer>-30</integer>
      <key>Ydieresis</key>
      <integer>-30</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>uni0162</key>
      <integer>-60</integer>
    </dict>
    <key>L</key>
    <dict>
      <key>J</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>Tcaron</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>Yacute</key>
      <integer>-80</integer>
      <key>Ydieresis</key>
      <integer>-80</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>uni0162</key>
      <integer>-90</integer>
      <key>Jcircumflex</key>
      <integer>-30</integer>
    </dict>
    <key>Lslash</key>
    <dict>
      <key>J</key>
      <integer>-30</integer>
      <key>T</key>
      <integer>-90</integer>
      <key>Tcaron</key>
      <integer>-90</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-40</integer>
      <key>Y</key>
      <integer>-80</integer>
      <key>Yacute</key>
      <integer>-80</integer>
      <key>Ydieresis</key>
      <integer>-80</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>uni0162</key>
      <integer>-90</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
      <key>AE</key>
      <integer>-110</integer>
      <key>Aacute</key>
      <integer>-40</integer>
      <key>Abreve</key>
      <integer>-40</integer>
      <key>Acircumflex</key>
      <integer>-40</integer>
      <key>Adieresis</key>
      <integer>-40</integer>
      <key>Agrave</key>
      <integer>-40</integer>
      <key>Aogonek</key>
      <integer>-40</integer>
      <key>Aring</key>
      <integer>-40</integer>
      <key>Atilde</key>
      <integer>-40</integer>
      <key>J</key>
      <integer>-70</integer>
      <key>hyphen</key>
      <integer>-60</integer>
      <key>slash</key>
      <integer>-80</integer>
      <key>Jcircumflex</key>
      <integer>-70</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>A</key>
      <integer>-50</integer>
      <key>AE</key>
      <integer>-100</integer>
      <key>Aacute</key>
      <integer>-50</integer>
      <key>Abreve</key>
      <integer>-50</integer>
      <key>Acircumflex</key>
      <integer>-50</integer>
      <key>Adieresis</key>
      <integer>-50</integer>
      <key>Agrave</key>
      <integer>-50</integer>
      <key>Aogonek</key>
      <integer>-50</integer>
      <key>Aring</key>
      <integer>-50</integer>
      <key>Atilde</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>T</key>
      <integer>20</integer>
      <key>Tcaron</key>
      <integer>20</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>aacute</key>
      <integer>-60</integer>
      <key>abreve</key>
      <integer>-20</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-20</integer>
      <key>ae</key>
      <integer>-80</integer>
      <key>agrave</key>
      <integer>-50</integer>
      <key>aogonek</key>
      <integer>-80</integer>
      <key>aring</key>
      <integer>-30</integer>
      <key>atilde</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>cacute</key>
      <integer>-60</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-80</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>d</key>
      <integer>-70</integer>
      <key>dcaron</key>
      <integer>-70</integer>
      <key>dcroat</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>eacute</key>
      <integer>-60</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-30</integer>
      <key>edieresis</key>
      <integer>-20</integer>
      <key>egrave</key>
      <integer>-50</integer>
      <key>ellipsis</key>
      <integer>-100</integer>
      <key>eogonek</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-80</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>oacute</key>
      <integer>-60</integer>
      <key>ocircumflex</key>
      <integer>-30</integer>
      <key>odieresis</key>
      <integer>-20</integer>
      <key>oe</key>
      <integer>-80</integer>
      <key>ograve</key>
      <integer>-50</integer>
      <key>ohungarumlaut</key>
      <integer>-30</integer>
      <key>oslash</key>
      <integer>-80</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>slash</key>
      <integer>-90</integer>
      <key>uni0162</key>
      <integer>20</integer>
      <key>quotedblbase</key>
      <integer>-100</integer>
      <key>quotesinglbase</key>
      <integer>-100</integer>
      <key>Jcircumflex</key>
      <integer>-60</integer>
      <key>ccircumflex</key>
      <integer>-70</integer>
      <key>gcircumflex</key>
      <integer>-70</integer>
    </dict>
    <key>Tcaron</key>
    <dict>
      <key>A</key>
      <integer>-50</integer>
      <key>AE</key>
      <integer>-100</integer>
      <key>Aacute</key>
      <integer>-50</integer>
      <key>Abreve</key>
      <integer>-50</integer>
      <key>Acircumflex</key>
      <integer>-50</integer>
      <key>Adieresis</key>
      <integer>-50</integer>
      <key>Agrave</key>
      <integer>-50</integer>
      <key>Aogonek</key>
      <integer>-50</integer>
      <key>Aring</key>
      <integer>-50</integer>
      <key>Atilde</key>
      <integer>-50</integer>
      <key>J</key>
      <integer>-60</integer>
      <key>a</key>
      <integer>-80</integer>
      <key>aacute</key>
      <integer>-60</integer>
      <key>abreve</key>
      <integer>-20</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-20</integer>
      <key>ae</key>
      <integer>-80</integer>
      <key>agrave</key>
      <integer>-50</integer>
      <key>aogonek</key>
      <integer>-80</integer>
      <key>aring</key>
      <integer>-30</integer>
      <key>atilde</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-80</integer>
      <key>cacute</key>
      <integer>-60</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-80</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>d</key>
      <integer>-70</integer>
      <key>dcaron</key>
      <integer>-70</integer>
      <key>dcroat</key>
      <integer>-70</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>eacute</key>
      <integer>-60</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-30</integer>
      <key>edieresis</key>
      <integer>-20</integer>
      <key>egrave</key>
      <integer>-50</integer>
      <key>ellipsis</key>
      <integer>-100</integer>
      <key>eogonek</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-80</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>oacute</key>
      <integer>-60</integer>
      <key>ocircumflex</key>
      <integer>-30</integer>
      <key>odieresis</key>
      <integer>-20</integer>
      <key>oe</key>
      <integer>-80</integer>
      <key>ograve</key>
      <integer>-50</integer>
      <key>ohungarumlaut</key>
      <integer>-30</integer>
      <key>oslash</key>
      <integer>-80</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>slash</key>
      <integer>-90</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-20</integer>
      <key>AE</key>
      <integer>-80</integer>
      <key>Aacute</key>
      <integer>-20</integer>
      <key>Abreve</key>
      <integer>-20</integer>
      <key>Acircumflex</key>
      <integer>-20</integer>
      <key>Adieresis</key>
      <integer>-20</integer>
      <key>Agrave</key>
      <integer>-20</integer>
      <key>Aogonek</key>
      <integer>-20</integer>
      <key>Aring</key>
      <integer>-20</integer>
      <key>Atilde</key>
      <integer>-20</integer>
      <key>J</key>
      <integer>-50</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>aacute</key>
      <integer>-30</integer>
      <key>abreve</key>
      <integer>-20</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-10</integer>
      <key>ae</key>
      <integer>-40</integer>
      <key>agrave</key>
      <integer>-20</integer>
      <key>aogonek</key>
      <integer>-40</integer>
      <key>aring</key>
      <integer>-20</integer>
      <key>atilde</key>
      <integer>-10</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>cacute</key>
      <integer>-30</integer>
      <key>ccaron</key>
      <integer>-20</integer>
      <key>ccedilla</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>dcaron</key>
      <integer>-30</integer>
      <key>dcroat</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>eacute</key>
      <integer>-30</integer>
      <key>ecaron</key>
      <integer>-20</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-20</integer>
      <key>egrave</key>
      <integer>-20</integer>
      <key>ellipsis</key>
      <integer>-80</integer>
      <key>eogonek</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-20</integer>
      <key>oe</key>
      <integer>-40</integer>
      <key>ograve</key>
      <integer>-30</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-40</integer>
      <key>otilde</key>
      <integer>-10</integer>
      <key>period</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>quotedblbase</key>
      <integer>-80</integer>
      <key>quotesinglbase</key>
      <integer>-80</integer>
      <key>Jcircumflex</key>
      <integer>-50</integer>
      <key>ccircumflex</key>
      <integer>-40</integer>
      <key>gcircumflex</key>
      <integer>-40</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>AE</key>
      <integer>-60</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-40</integer>
      <key>aacute</key>
      <integer>-30</integer>
      <key>abreve</key>
      <integer>-20</integer>
      <key>acircumflex</key>
      <integer>-20</integer>
      <key>adieresis</key>
      <integer>-20</integer>
      <key>ae</key>
      <integer>-40</integer>
      <key>agrave</key>
      <integer>-30</integer>
      <key>aogonek</key>
      <integer>-40</integer>
      <key>aring</key>
      <integer>-30</integer>
      <key>atilde</key>
      <integer>-10</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>cacute</key>
      <integer>-30</integer>
      <key>ccaron</key>
      <integer>-20</integer>
      <key>ccedilla</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-40</integer>
      <key>dcaron</key>
      <integer>-30</integer>
      <key>dcroat</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>eacute</key>
      <integer>-30</integer>
      <key>ecaron</key>
      <integer>-20</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-30</integer>
      <key>ellipsis</key>
      <integer>-80</integer>
      <key>eogonek</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-30</integer>
      <key>oe</key>
      <integer>-40</integer>
      <key>ograve</key>
      <integer>-30</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-40</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>-70</integer>
    </dict>
    <key>Y</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>AE</key>
      <integer>-90</integer>
      <key>Aacute</key>
      <integer>-30</integer>
      <key>Abreve</key>
      <integer>-30</integer>
      <key>Acircumflex</key>
      <integer>-30</integer>
      <key>Adieresis</key>
      <integer>-30</integer>
      <key>Agrave</key>
      <integer>-30</integer>
      <key>Aogonek</key>
      <integer>-30</integer>
      <key>Aring</key>
      <integer>-30</integer>
      <key>Atilde</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-60</integer>
      <key>aacute</key>
      <integer>-40</integer>
      <key>abreve</key>
      <integer>-30</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-60</integer>
      <key>agrave</key>
      <integer>-40</integer>
      <key>aogonek</key>
      <integer>-60</integer>
      <key>aring</key>
      <integer>-40</integer>
      <key>atilde</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>cacute</key>
      <integer>-50</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-120</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>dcaron</key>
      <integer>-50</integer>
      <key>dcroat</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>eacute</key>
      <integer>-40</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-40</integer>
      <key>ellipsis</key>
      <integer>-120</integer>
      <key>eogonek</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-40</integer>
      <key>oe</key>
      <integer>-60</integer>
      <key>ograve</key>
      <integer>-50</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-60</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-70</integer>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>AE</key>
      <integer>-90</integer>
      <key>Aacute</key>
      <integer>-30</integer>
      <key>Abreve</key>
      <integer>-30</integer>
      <key>Acircumflex</key>
      <integer>-30</integer>
      <key>Adieresis</key>
      <integer>-30</integer>
      <key>Agrave</key>
      <integer>-30</integer>
      <key>Aogonek</key>
      <integer>-30</integer>
      <key>Aring</key>
      <integer>-30</integer>
      <key>Atilde</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-60</integer>
      <key>aacute</key>
      <integer>-40</integer>
      <key>abreve</key>
      <integer>-30</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-60</integer>
      <key>agrave</key>
      <integer>-40</integer>
      <key>aogonek</key>
      <integer>-60</integer>
      <key>aring</key>
      <integer>-40</integer>
      <key>atilde</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>cacute</key>
      <integer>-50</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-120</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>dcaron</key>
      <integer>-50</integer>
      <key>dcroat</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>eacute</key>
      <integer>-40</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-40</integer>
      <key>ellipsis</key>
      <integer>-120</integer>
      <key>eogonek</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-40</integer>
      <key>oe</key>
      <integer>-60</integer>
      <key>ograve</key>
      <integer>-50</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-60</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-70</integer>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>A</key>
      <integer>-30</integer>
      <key>AE</key>
      <integer>-90</integer>
      <key>Aacute</key>
      <integer>-30</integer>
      <key>Abreve</key>
      <integer>-30</integer>
      <key>Acircumflex</key>
      <integer>-30</integer>
      <key>Adieresis</key>
      <integer>-30</integer>
      <key>Agrave</key>
      <integer>-30</integer>
      <key>Aogonek</key>
      <integer>-30</integer>
      <key>Aring</key>
      <integer>-30</integer>
      <key>Atilde</key>
      <integer>-30</integer>
      <key>J</key>
      <integer>-40</integer>
      <key>a</key>
      <integer>-60</integer>
      <key>aacute</key>
      <integer>-40</integer>
      <key>abreve</key>
      <integer>-30</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-60</integer>
      <key>agrave</key>
      <integer>-40</integer>
      <key>aogonek</key>
      <integer>-60</integer>
      <key>aring</key>
      <integer>-40</integer>
      <key>atilde</key>
      <integer>-20</integer>
      <key>c</key>
      <integer>-60</integer>
      <key>cacute</key>
      <integer>-50</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-60</integer>
      <key>comma</key>
      <integer>-120</integer>
      <key>d</key>
      <integer>-50</integer>
      <key>dcaron</key>
      <integer>-50</integer>
      <key>dcroat</key>
      <integer>-50</integer>
      <key>e</key>
      <integer>-60</integer>
      <key>eacute</key>
      <integer>-40</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-40</integer>
      <key>ellipsis</key>
      <integer>-120</integer>
      <key>eogonek</key>
      <integer>-60</integer>
      <key>g</key>
      <integer>-60</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>o</key>
      <integer>-60</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-40</integer>
      <key>oe</key>
      <integer>-60</integer>
      <key>ograve</key>
      <integer>-50</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-60</integer>
      <key>otilde</key>
      <integer>-20</integer>
      <key>period</key>
      <integer>-120</integer>
      <key>slash</key>
      <integer>-70</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>a</key>
      <integer>-40</integer>
      <key>aacute</key>
      <integer>-30</integer>
      <key>abreve</key>
      <integer>-10</integer>
      <key>acircumflex</key>
      <integer>-20</integer>
      <key>adieresis</key>
      <integer>-20</integer>
      <key>ae</key>
      <integer>-40</integer>
      <key>agrave</key>
      <integer>-30</integer>
      <key>aogonek</key>
      <integer>-40</integer>
      <key>aring</key>
      <integer>-20</integer>
      <key>atilde</key>
      <integer>-10</integer>
      <key>c</key>
      <integer>-40</integer>
      <key>cacute</key>
      <integer>-30</integer>
      <key>ccaron</key>
      <integer>-20</integer>
      <key>ccedilla</key>
      <integer>-40</integer>
      <key>comma</key>
      <integer>-80</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>dcaron</key>
      <integer>-30</integer>
      <key>dcroat</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-40</integer>
      <key>eacute</key>
      <integer>-30</integer>
      <key>ecaron</key>
      <integer>-20</integer>
      <key>ecircumflex</key>
      <integer>-20</integer>
      <key>edieresis</key>
      <integer>-20</integer>
      <key>egrave</key>
      <integer>-30</integer>
      <key>ellipsis</key>
      <integer>-80</integer>
      <key>eogonek</key>
      <integer>-40</integer>
      <key>g</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-40</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-20</integer>
      <key>odieresis</key>
      <integer>-20</integer>
      <key>oe</key>
      <integer>-40</integer>
      <key>ograve</key>
      <integer>-30</integer>
      <key>ohungarumlaut</key>
      <integer>-20</integer>
      <key>oslash</key>
      <integer>-40</integer>
      <key>otilde</key>
      <integer>-10</integer>
      <key>period</key>
      <integer>-80</integer>
      <key>slash</key>
      <integer>-50</integer>
      <key>quotedblbase</key>
      <integer>-80</integer>
      <key>quotesinglbase</key>
      <integer>-80</integer>
      <key>ccircumflex</key>
      <integer>-30</integer>
      <key>gcircumflex</key>
      <integer>-40</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>T</key>
      <integer>-60</integer>
      <key>Tcaron</key>
      <integer>-60</integer>
      <key>V</key>
      <integer>-50</integer>
      <key>W</key>
      <integer>-30</integer>
      <key>Y</key>
      <integer>-50</integer>
      <key>Yacute</key>
      <integer>-50</integer>
      <key>Ydieresis</key>
      <integer>-50</integer>
      <key>uni0162</key>
      <integer>-60</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>aacute</key>
      <integer>-30</integer>
      <key>abreve</key>
      <integer>-30</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-30</integer>
      <key>agrave</key>
      <integer>-30</integer>
      <key>aogonek</key>
      <integer>-30</integer>
      <key>aring</key>
      <integer>-30</integer>
      <key>atilde</key>
      <integer>-30</integer>
      <key>c</key>
      <integer>-30</integer>
      <key>cacute</key>
      <integer>-30</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-30</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>dcaron</key>
      <integer>-30</integer>
      <key>dcroat</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>eacute</key>
      <integer>-30</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-30</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-30</integer>
      <key>ellipsis</key>
      <integer>-100</integer>
      <key>eogonek</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-30</integer>
      <key>odieresis</key>
      <integer>-30</integer>
      <key>oe</key>
      <integer>-30</integer>
      <key>ograve</key>
      <integer>-30</integer>
      <key>ohungarumlaut</key>
      <integer>-30</integer>
      <key>oslash</key>
      <integer>-30</integer>
      <key>otilde</key>
      <integer>-30</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>slash</key>
      <integer>-60</integer>
      <key>quotedblbase</key>
      <integer>-100</integer>
      <key>quotesinglbase</key>
      <integer>-100</integer>
      <key>ccircumflex</key>
      <integer>-30</integer>
      <key>gcircumflex</key>
      <integer>-30</integer>
    </dict>
    <key>racute</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>aacute</key>
      <integer>-30</integer>
      <key>abreve</key>
      <integer>-30</integer>
      <key>acircumflex</key>
      <integer>-30</integer>
      <key>adieresis</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-30</integer>
      <key>agrave</key>
      <integer>-30</integer>
      <key>aogonek</key>
      <integer>-30</integer>
      <key>aring</key>
      <integer>-30</integer>
      <key>atilde</key>
      <integer>-30</integer>
      <key>c</key>
      <integer>-30</integer>
      <key>cacute</key>
      <integer>-30</integer>
      <key>ccaron</key>
      <integer>-30</integer>
      <key>ccedilla</key>
      <integer>-30</integer>
      <key>comma</key>
      <integer>-100</integer>
      <key>d</key>
      <integer>-30</integer>
      <key>dcaron</key>
      <integer>-30</integer>
      <key>dcroat</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>eacute</key>
      <integer>-30</integer>
      <key>ecaron</key>
      <integer>-30</integer>
      <key>ecircumflex</key>
      <integer>-30</integer>
      <key>edieresis</key>
      <integer>-30</integer>
      <key>egrave</key>
      <integer>-30</integer>
      <key>ellipsis</key>
      <integer>-100</integer>
      <key>eogonek</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>oacute</key>
      <integer>-30</integer>
      <key>ocircumflex</key>
      <integer>-30</integer>
      <key>odieresis</key>
      <integer>-30</integer>
      <key>oe</key>
      <integer>-30</integer>
      <key>ograve</key>
      <integer>-30</integer>
      <key>ohungarumlaut</key>
      <integer>-30</integer>
      <key>oslash</key>
      <integer>-30</integer>
      <key>otilde</key>
      <integer>-30</integer>
      <key>period</key>
      <integer>-100</integer>
      <key>slash</key>
      <integer>-60</integer>
    </dict>
    <key>rcaron</key>
    <dict>
      <key>a</key>
      <integer>-30</integer>
      <key>ae</key>
      <integer>-30</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>g</key>
      <integer>-30</integer>
      <key>o</key>
      <integer>-30</integer>
      <key>oe</key>
      <integer>-30</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>emdash</key>
      <integer>-80</integer>
      <key>endash</key>
      <integer>-80</integer>
      <key>four</key>
      <integer>-80</integer>
      <key>hyphen</key>
      <integer>-80</integer>
      <key>uni00AD</key>
      <integer>-80</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>AE</key>
      <integer>-90</integer>
      <key>Aacute</key>
      <integer>-70</integer>
      <key>Abreve</key>
      <integer>-70</integer>
      <key>Acircumflex</key>
      <integer>-70</integer>
      <key>Adieresis</key>
      <integer>-70</integer>
      <key>Agrave</key>
      <integer>-70</integer>
      <key>Aogonek</key>
      <integer>-70</integer>
      <key>Aring</key>
      <integer>-70</integer>
      <key>Atilde</key>
      <integer>-70</integer>
      <key>J</key>
      <integer>-80</integer>
      <key>T</key>
      <integer>-20</integer>
      <key>Tcaron</key>
      <integer>-20</integer>
      <key>a</key>
      <integer>-100</integer>
      <key>aacute</key>
      <integer>-90</integer>
      <key>abreve</key>
      <integer>-80</integer>
      <key>acircumflex</key>
      <integer>-80</integer>
      <key>adieresis</key>
      <integer>-70</integer>
      <key>ae</key>
      <integer>-100</integer>
      <key>agrave</key>
      <integer>-80</integer>
      <key>aogonek</key>
      <integer>-100</integer>
      <key>aring</key>
      <integer>-80</integer>
      <key>atilde</key>
      <integer>-60</integer>
      <key>c</key>
      <integer>-100</integer>
      <key>cacute</key>
      <integer>-90</integer>
      <key>ccaron</key>
      <integer>-70</integer>
      <key>ccedilla</key>
      <integer>-100</integer>
      <key>comma</key>
      <integer>-150</integer>
      <key>d</key>
      <integer>-90</integer>
      <key>dcaron</key>
      <integer>-90</integer>
      <key>dcroat</key>
      <integer>-90</integer>
      <key>e</key>
      <integer>-100</integer>
      <key>eacute</key>
      <integer>-90</integer>
      <key>ecaron</key>
      <integer>-70</integer>
      <key>ecircumflex</key>
      <integer>-80</integer>
      <key>edieresis</key>
      <integer>-90</integer>
      <key>egrave</key>
      <integer>-80</integer>
      <key>ellipsis</key>
      <integer>-150</integer>
      <key>eogonek</key>
      <integer>-100</integer>
      <key>g</key>
      <integer>-100</integer>
      <key>hyphen</key>
      <integer>-100</integer>
      <key>o</key>
      <integer>-100</integer>
      <key>oacute</key>
      <integer>-80</integer>
      <key>ocircumflex</key>
      <integer>-70</integer>
      <key>odieresis</key>
      <integer>-70</integer>
      <key>oe</key>
      <integer>-100</integer>
      <key>ograve</key>
      <integer>-80</integer>
      <key>ohungarumlaut</key>
      <integer>-70</integer>
      <key>oslash</key>
      <integer>-100</integer>
      <key>otilde</key>
      <integer>-60</integer>
      <key>period</key>
      <integer>-150</integer>
      <key>slash</key>
      <integer>-120</integer>
      <key>uni0162</key>
      <integer>-20</integer>
      <key>quotedblbase</key>
      <integer>-150</integer>
      <key>quotesinglbase</key>
      <integer>-150</integer>
      <key>Jcircumflex</key>
      <integer>-80</integer>
      <key>ccircumflex</key>
      <integer>-90</integer>
      <key>gcircumflex</key>
      <integer>-90</integer>
    </dict>
    <key>underscore</key>
    <dict>
      <key>j</key>
      <integer>60</integer>
      <key>jcircumflex</key>
      <integer>60</integer>
    </dict>
    <key>uni0162</key>
    <dict>
      <key>a</key>
      <integer>-80</integer>
      <key>ae</key>
      <integer>-80</integer>
      <key>dcroat</key>
      <integer>-60</integer>
      <key>e</key>
      <integer>-80</integer>
      <key>g</key>
      <integer>-70</integer>
      <key>o</key>
      <integer>-80</integer>
      <key>oe</key>
      <integer>-80</integer>
      <key>period</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
